<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Shopping-Cart</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
          <div>
            <a class="brand" href="index.html">Shopping Cart</a>
          </div>
          <div>
            <a href="cart.html">Cart</a>
            <a href="signin.html">Sign In</a>
          </div>
        </header>
        <main>
          <div>
            <div class="row center">
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/p1.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Canon Camera</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">750$</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/p2.png" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Iphone X</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">800$</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/p3.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Short Sleve Shirt</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">50$</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/p4.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Dress</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">50$</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/p5.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Wireless Headphones</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">35$</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/p6.png" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Wireless Earbuds</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">30$</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/p7.png" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Logitech Mouse</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">86$</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/p8.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>PC Build</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">700$</div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <footer class="row center">All right reserved</footer>
      </div>
</body>
</html>