<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ecommerce</title>
</head>
<body>
    <div className="grid-container">
        <header className="row">
            <div>
                <a className="brand" href="index.html">Shopping Cart</a>
            </div>
            <div>
                <a href="categories.html">Category</a>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign in</a>
            </div>
        </header>
        <main>
            <div className="row center">
                <div className="card">
                    <a href="product.html">
                        <img className="medium" src="./images/p1.jpeg" alt="product" />
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Canon Camera</h2>
                        </a>
                        <div className="rating">
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                        </div>
                        <div className="price">
                            $120
                        </div>
                    </div>
                </div>
                <div className="card">
                    <a href="product.html">
                        <img className="medium" src="./images/p1.jpeg" alt="product" />
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Canon Camera</h2>
                        </a>
                        <div className="rating">
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                        </div>
                        <div className="price">
                            $120
                        </div>
                    </div>
                </div>
                <div className="card">
                    <a href="product.html">
                        <img className="medium" src="./images/p1.jpeg" alt="product" />
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Canon Camera</h2>
                        </a>
                        <div className="rating">
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                        </div>
                        <div className="price">
                            $120
                        </div>
                    </div>
                </div>
                <div className="card">
                    <a href="product.html">
                        <img className="medium" src="./images/p1.jpeg" alt="product" />
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Canon Camera</h2>
                        </a>
                        <div className="rating">
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                        </div>
                        <div className="price">
                            $120
                        </div>
                    </div>
                </div>
                <div className="card">
                    <a href="product.html">
                        <img className="medium" src="./images/p1.jpeg" alt="product" />
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Canon Camera</h2>
                        </a>
                        <div className="rating">
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                        </div>
                        <div className="price">
                            $120
                        </div>
                    </div>
                </div>
                <div className="card">
                    <a href="product.html">
                        <img className="medium" src="./images/p1.jpeg" alt="product" />
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Canon Camera</h2>
                        </a>
                        <div className="rating">
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                        </div>
                        <div className="price">
                            $120
                        </div>
                    </div>
                </div>
                <div className="card">
                    <a href="product.html">
                        <img className="medium" src="./images/p1.jpeg" alt="product" />
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Canon Camera</h2>
                        </a>
                        <div className="rating">
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                        </div>
                        <div className="price">
                            $120
                        </div>
                    </div>
                </div>
                <div className="card">
                    <a href="product.html">
                        <img className="medium" src="./images/p1.jpeg" alt="product" />
                    </a>
                    <div className="card-body">
                        <a href="product.html">
                            <h2>Canon Camera</h2>
                        </a>
                        <div className="rating">
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star"></i>
                            </span>
                            <span>
                                <i className="fa fa-star-half-o"></i>
                            </span>
                        </div>
                        <div className="price">
                            $120
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer className="row center">
            ecommerce Company 2021
        </footer>
    </div>
</body>
</html>